body{
    margin: 0;
    background-color: rgb(77, 247, 162);
}
.container{
    margin: 0 auto;
    background-color: aliceblue;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
    
}
h1{
    font-size:30px;
}
.profile-img{
    width: 100px;
    border-radius: 100%;
    border: 1px solid blue;
    float: left;
    margin: 1%;
}
.name{
    margin-top: 4%;
    margin-left: 1%;
    color: blue;
    float: left;
}
.name:hover{
     cursor: pointer;
    color: blue;
}
.contact{
    float: right;
    margin-top: 4% ;
    margin-right: 1%;
    
}
a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
}
.clear-div{
    clear: both;
}
.header-hr{
    border: solid;
    
}
.left{
    color: blue;
    float:left;
    width: 30%;
}

.right{
    float: right;
    width: 70%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
}
.left-text{
    width: 50%;
    float: left;
    padding-top: 2%;
    font-size:20px;
}
.right-text{
    width: 50%;
    float: right;
    padding-top: 2%;
    font-size:20px;
}
.main-hr{
    border: solid;
    width: 99.4%;
}
.result-hsc{
    width: 100%; float: none;
}
li{
    padding:1%;
}
ul .language{
    float: left;
    
    list-style-type: none;
}
.footer-div{
    width: 50%;
    background-color: black;
    margin: 0 auto;
    color:white;
    text-align: center;
}
.copyright:hover{
    cursor: pointer;
    color: blue;
}
p:hover{
    cursor: pointer;
    
    
}
