body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(77, 247, 162);
}
.container{
    margin: 0 auto;
    background-color: aliceblue;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
    box-sizing: border-box;
}

.profile-img{
    width: 100px;
    border-radius: 100%;
    border: 1px solid blue;
    float: left;
    margin: 1%;
}
.name{
    margin-top: 4%;
    margin-left: 1%;
    color: blue;
    float: left;
    font-size: px;
}
.contact a{
    text-decoration: none;
    color: black;


}
.email .tooltip-email,.call .tooltip-call {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.clear-div{
    clear: both;
}
.header-hr{
    border:1px solid;
    
}
.br-m{
    height: 5px;
}
.main-hr{
    border: 1px solid;
    width: 99.4%;
    margin-top: -10px;
}
h2{
    text-decoration: underline;
    font-size: 22px;
}
p{
    text-align: justify;
    padding: 5px;
}
.right{
    margin-top: -15px;
}
#hob-li-l{
    width: 50%;
    float: left;
}
.footer-div{
    width: 55%;
    background-color: black;
    margin: 0 auto;
    color:white;
    font-size: 13px;
    text-align: center;
}